server:
  port: 8083

spring:
  application:
    name: ai-service
  mongodb:
    uri: mongodb://localhost:27017/ai-recommendation-db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/