server:
  port: 8081
  forward-headers-strategy: native

spring:
  application:
    name: profile-service

  datasource:
    url: jdbc:postgresql://localhost:5432/predictafit
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/